@import "tailwindcss";

:root {
  /* 메인 color */
  --color-primary: #FF711E;

  /* Base */
  --color-bg: #F6F7FB;
  --color-text: #2C2C2C;

  /* Header */
  --color-header-bg: #FEFEFE;
  --color-header-stroke: #D6D6D6;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Tailwind Theme 매핑 */
@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);

  --color-primary: var(--color-primary);

  --color-header-bg: var(--color-header-bg);
  --color-header-stroke: var(--color-header-stroke);

  --font-sans: var(--font-pretendard);
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-pretendard), system-ui, sans-serif;
}